<div id="prepod_profile">
  <div id="prepod_name">
    <h1>{{ nameAndAvatar?.name }}</h1>
    <div id="ttl_side_links" *ngIf="isAuthenticated && !isMyPage"><a [routerLink]="['/profile', loggedUserId]">Моя сторінка</a></div>

  </div>
  <div id="left_col">
    <!-- onmouseover="showAvatarItems()" onmouseout="hideAvatarItems()"-->
    <div id="avatarImgWrap" (mouseover)="showAvatarItems()" (mouseout)="hideAvatarItems()">
      <a href="{{serverPath}}{{nameAndAvatar?.avatarImagePath}}" class="flipLightBox 1" style="cursor: zoom-in" *ngIf="nameAndAvatar?.avatarImagePath">
        <img src="{{serverPath}}{{nameAndAvatar?.avatarImagePath}}" id="avatarImg" alt="user avatar" />
      </a>
      <span *ngIf="isAdmin || isMyPage">
        <form id="uploadAvatarForm" [formGroup]="changeAvatarForm">
          <input type="file"
                 accept="image/jpeg,image/png"
                 formControlName="avatarImageFile"
                 name="avatarImageFile"
                 id="avatarImageFile"
                 title="Upload the image"
                 alt="Upload the image"
                 (change)="onChangeAvatar($event)" />
          <input type="hidden" [value]="userId" formControlName="userId">
        </form>
        <div id="uploadAvatar" (click)="uploadAvatar()">&</div>
        <div id="deleteAvatar" (click)="deleteAvatar()" *ngIf="!isImageDefault">x</div>
      </span>
    </div>
    <div id="prof_sections">
      <a [class]="activeStateClasses[0]" [routerLink]="['main-info']" (click)="changeActiveState(0)">Основна інформація</a>
      <a [class]="activeStateClasses[1]" [routerLink]="['science-work']" (click)="changeActiveState(1)">Наукова діяльність</a>
      <a [class]="activeStateClasses[2]" [routerLink]="['scientific-reports']" (click)="changeActiveState(2)">Наукові звіти</a>
      <a [class]="activeStateClasses[3]" [routerLink]="['projects']" (click)="changeActiveState(3)">Проєкти</a>
    </div>
    <div id="manage_links" *ngIf="isMyPage || isAdmin">
      <a [routerLink]="['/profile', loggedUserId]" *ngIf="isMyPage">Моя сторінка</a>
      <a [routerLink]="['/manage', loggedUserId]" *ngIf="isMyPage">Налаштування</a>
      <a [routerLink]="['/edit-profile', userId]">Редагувати</a>
      <a href="javascript:void(0)" *ngIf="isAuthenticated && isMyPage" (click)="logout()">Вийти</a>
    </div>
  </div>
  <div id="right_col_wrap">
    <div id="right_col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
