<nav ngbNav class="nav-tabs" #nav="ngbNav">
  <ng-container ngbNavItem>
    <button ngbNavLink>Підвищ. кваліф.</button>
    <ng-template ngbNavContent>
      <app-science-work-qualification-increases></app-science-work-qualification-increases>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <button ngbNavLink>Публікації</button>
    <ng-template ngbNavContent>
      <app-science-work-publications [userId]="userId"></app-science-work-publications>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <button ngbNavLink>Конференції</button>
    <ng-template ngbNavContent>
      <app-science-work-conferences></app-science-work-conferences>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <button ngbNavLink>Охоронні документи</button>
    <ng-template ngbNavContent>
      <app-science-work-security-documents></app-science-work-security-documents>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav"></div>
