<header id="head_wrap">
  <div id="head">
    <div id="right_side search_wrap search">
          <form id="search-form">
            <input type="text" name="searchString" id="search_inp" placeholder="Пошук по сайту" /><button type="submit" id="search_sbm"></button>
          </form>
      <div id="all_prepods">

        <a class="button blue" routerLink="/teachers-list">Список викладачів</a>

        <a class="button green" routerLink="/new-teacher" *ngIf="isAuthenticated && isAdmin">Додати викладача (+)</a>

        <a class="button green" routerLink="/login" *ngIf="!isAuthenticated">Авторизуватися</a>
      </div>
    </div>
  </div>
</header>
<main class="cont_wrap">
  <div id="cont">
    <router-outlet></router-outlet>
  </div>
</main>
<footer id="footer">
  <div id="copyright">
    © 2014 - {{ currentYear | date: 'y' }} еНауковаДекларація
    <br />
    Автори: Співаковський О. В., Вінник М. О., Тарасіч Ю. Г., Кривобок Б. С., Полторацький М. Ю., Новіков М. М.
    <br />
    <a href="/about">Про проект</a>
  </div>
</footer>
