.scienceTab_header {
  border-bottom: 1px solid #ccc;
  padding: 1rem 1rem 5px;
}

.csv-link {
  margin-left: 1rem;
}

.ajax_loader {
  background: url(../../../assets/img/ajax-loader.gif) no-repeat scroll center center;
  background-size: contain;
  width: 54px;
  height: 55px;
  left: 40%;
  position: relative;
  top: 0;
  z-index: 9999;
}
